# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\fil_rouge_rahmane\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
